.healthinfo-container {
  text-align: center;
  padding-top: 3rem;
}

.healthinfo-heading {
  margin-top: 5rem;
  color: #dd0db0;
}

.healthinfo-quote {
  padding-top: 2rem;
}

.healthinfo-details {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 5rem;
}

.healthinfo-info {
  width: 20rem;
  height: 40vh;
  border: 0.1rem solid #741188;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.healthinfo-svg {
  fill: #dd0db0;
  width: 3rem;
}

.healthinfo-button {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.healthinfo-back-svg {
  fill: white;
  width: 1rem;
}
