* {
  box-sizing: border-box;
  /* background-image: url(../src/components/image/white.jpg); */
}

html {
  font-family: sans-serif;
  /* background: #fff; */
}

body {
  margin: 0;
  background: #fff;
}

main {
  margin-top: 6rem;
}

/* css used later / list */ /*  previews / list */ /*  previews / list */ /*  previews / list */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  /* font-family: 'Quicksand'; */
  /* color: #333; */
}
